.last__section{
width: 100%;
background: linear-gradient(180deg, rgb(1, 1, 1) 70%, #7FFA8A 30.01%);
}

.lastsection__body{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}

.last__heading{
text-align: center;
}

.heading{
width: 600px;
font-size: 48px;
font-weight: 800;
line-height: 62.4px;
margin-top: 60px;
color: #fff ;
}

.last__input{
display: flex;
gap: 16px;
margin-top: 56px;
}

.input{
width: 250px;
height: 45px;
padding: 10px;
border-color: rgba(254, 130, 53, 1);
color: rgba(254, 130, 53, 1);
background: none;
}

.input__btn{
width: 100px;
height: 45px;
background: rgba(254, 130, 53, 1);
border: none;
color: rgb(255,255,255,1);
}

.input__btn:hover{
transform: scale(1.2);
background: green;
}

.last__img{
margin-top: 50px;
}